$city-white: #fafaf4;
$city-light-grey: #f3f3e5;
$city-grey: #8c8c8c;
$city-black: #111111;
$city-orange: #fa7416;
$city-purple: #8c52ff;
$city-blue: #0086be;
$city-gold: #fbcc09;
$city-red: #c10016;

$city-green: #91d6c6;
$city-green-light: #e5ede6;
$city-green-dark: #3fa08a;
