// RESET
// Smooths out the rough edges across browsers
@import './defaults/normalize';

// VARIABLES
// Reusable settings
@import './_colors';
@import './_fonts';

// OTHER DEFAULT STYLES
// Smooths out the rough edges across browsers
@import './defaults/article';
@import './defaults/dataviz';

// BULMA
// External CSS framework
@import "../../node_modules/bulma/bulma.scss";

// YOUR CODE
// Starting writing your stuff below here

.button.is-multiline {
    width: 100%;
    min-height: 2.25em;
    white-space: unset;
    height: auto;
    flex-direction: column;
  }